<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javier Arriagada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<style>
		body {
			font-size: 12px;
		}
        ul {
            padding: 10px;
        }
        li {
            margin-bottom: 10px;
        }
	</style>
</head>
<body>
    <h1>Javier Arriagada - CV</h1>
    <h2>Reliability Engineering - Cloud administration - Data center automation</h2>
    <hr>
    <details open="">
    <summary>Contact Information</summary>
    <p>
    Dallas, Tx<br>
    </p>
    <address>
        <a href="mailto:javier@maabn.net">javier@maabn.net</a><br>
        <a href="tel:219-309-3911">(219) 309-3911</a><br>
    </address>
    </p>
    <p>
    LinkedIn: <a href="https://www.linkedin.com/in/jarriagad">linkedin.com/jarriagad</a><br>
    GitHub: <a href="https://github.com/jarriagad">github.com/jarriagad</a><br>
    </p>
    </details>
    <h3>Overview</h3>
    <p style="background-color: #1a242f; padding: 10px; border-radius: 5px;">
    Resourceful Infrastructure Engineer with automation, design, and architecture experience along with strong programming and troubleshooting skills in enterprise environments. Self-starter with not only a desire to learn, but to lead and teach others as well. Always seeking a professionally challenging environment to engage technical and automation skills.
    </p>
    <h3>Skills & Core Competencies</h3>
    <hr>
    <p>Programming Languages: Python, Bash, JavaScript, HTML, CSS, Flask, Django, FastAPI</p>
    <p>Cloud Platforms: Google Cloud Platform (GCP), AWS, Microsoft Azure</p>
    <p>Automation and Configuration Management: Salt, Stackstorm, Ansible, Terraform</p>
    <p>Monitoring and Logging: Prometheus, Grafana, ELK, Splunk, Fluentd</p>
    <p>Containers and Orchestration: Kubernetes, Docker, Argo, FluxCD, Helm</p>
    <p>Databases: MySQL, PostgreSQL, MongoDB</p>
    <p>Developer Tools: Git, Gitlab, Github, Gitlab CI, Github Actions</p>
    <h3>Experience</h3>
    <p>
    1. <strong>Cyxtera&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Infrastructure Engineer&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;03.2021 - present</strong><br>
    <hr>
    Dallas, Tx [Remote]<br>
    </p>
    <ul>
    <li>
    Developed and maintained a permissions elevation platform allowing network operators to securely acquire on-demand admin access to network devices.
    </li>
    <li>
    Engineered a 3rd party notification distribution system that delievered necessary alerts to affected services' customers. Increasing visibility over network maintenances and impacting outages.<br>
    </li>
    <li>
    Designed deployment and configuration (IaC) pipelines to manage the lifecycle of edge servers, improving deployment velocity, consistency, and security.<br>
    </li>
    <li>
    Maintained mission critical kubernetes cluster applications and all adjacent services as well as cloud and site interconnectivity.
    </li>
    <li>
    Managed application bugs from discovery to resolution, collaborating with adjacent teams to deliver effective solutions and ensure high-quality software delivery.<br>
    </li>
    <li>
    Deployment and patching of all HCI infrastructure servers to ensure latest security updates and features.<br>
    </li>
    <li>
    Worked directly with customers to troubleshoot and resolve escalated service issues related to their deployed infrastructure.<br>
    </li>
    </ul>
    <p>
    2. <strong>Global IP Networks&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Linux Engineer&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;02.2020 - 03.2021</strong><br>
    <hr>
    Plano, Tx<br>
    </p>
    <ul>
    <li>
    Configure and manage all Linux systems.
    </li>
    <li>
    Develop and implement training for t1-t3 support.
    </li>
    <li>
    Manage internal and external networks + project management related to network configuration changes.
    </li>
    <li>
    Data center automation.
    </li>
    </ul>
    <p>
    3. <strong>Global IP Networks&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Support Analyst&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;12.2019 - 02.2020</strong><br>
    <hr>
    Plano, Tx<br>
    </p>
    <ul>
    <li>
    Resolve escalated tickets within established SLAs.
    </li>
    <li>
    Full-stack troubleshooting of hardware, software, and web-hosting related inquiries.
    </li>
    <li>
    Install and manage crossconnects, rack and stack of servers and network equipment.
    </li>
    </ul>
    4. <strong>Global IP Networks&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Rapid Response Team&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;10.2019 - 12.2019</strong><br>
    <hr>
    Plano, Tx<br>
    </p>
    <ul>
    <li>
    Engage with customers and troubleshoot issues raised.
    </li>
    <li>
    Rack and stack network and server hardware as specified.
    </li>
    <li>
    Handle cabling of hardware and ensure customer satisfaction.
    </li>
    </ul>
    5. <strong>Aspira&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Support Analyst&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;06.2019 - 10.2019</strong><br>
    <hr>
    Plano, Tx<br>
    </p>
    <ul>
    <li>
    Resolve escalated tickets within established SLAs or engage escalation channels.
    </li>
    <li>
    Printer and POS device troubleshooting and repair.
    </li>
    </ul>
    <h3>Education & Certifications</h3>
    <hr>
    <p>B.Sc. Texas A&M University(2014-2018)</p>
    <p>RHCSA</p>
    <p>Pending:</p>
    <p>CKA</p>
    <p>AWSCSA</p>
    <p>RHCE</p>
    <hr>
</body>
</html>
